---
import Layout from "../layouts/Layout.astro";
import Footer from '../components/Footer.astro';
import Header from "src/components/Header.astro";
import HeroSection from "src/components/HeroSection.astro";
import BlogPreview from "src/components/BlogPreview.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <HeroSection />
    <BlogPreview />
    <Footer />
  </main>
</Layout>

