/* globals.css
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --primary: rgb(255 115 179);
    --secondary: rgb(111 114 185);
    --accent: rgb(111 114 185);
    --neutral: rgb(111 114 185);
    --base-100: rgb(111 114 185);
    --dark-primary: rgb(255 115 179);
    --dark-secondary: rgb(111 114 185);
    --dark-accent: rgb(111 114 185);
    --dark-neutral: rgb(111 114 185);
    --dark-base-100: rgb(111 114 185);
  }
}


        "primary": "#1f15e0",
        "secondary": "#b1aeef",
        "accent": "#838192",
        "neutral": "#0f0f3d",
        "base-100": "#f3f3fc",


        dark: {
        "primary": "#6d1b83",
        "secondary": "#270a2f",
        "accent": "#b130d5",
        "neutral": "#340d3f",
        "base-100": "#23092a",
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 html {
  font-family: system-ui, sans-serif;
}

/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--p));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: oklch(var(--s));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: oklch(var(--n));
  border-radius: 14px;
  border: 1px solid;
  border-color: oklch(var(--b)) 
}

.drawer-button{
  @apply btn btn-circle btn-outline;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}