---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>

  
  html {
    font-family: system-ui, sans-serif;
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: hsl(var(--a));
    background: hsl(var(--a));
  }

  ::selection {
    color: hsl(var(--pc));
    background: "accent-color"; /*Daisyui accent color as highlight color */
  }

  /* Scrollbar styles */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--n));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--));
    border-radius: 5px;
    filter: brightness(0.75);
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--n));
    border-radius: 14px;
    border: 3px solid hsl(var(--n));
  }

  .drawer-button{
    @apply btn btn-circle btn-outline;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
