---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="selection:bg-primary selection:text-base-100">
    <slot />
  </body>
</html>
<style is:global>

  
  html {
    font-family: system-ui, sans-serif;
  }

  /* Scrollbar styles */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: oklch(var(--p));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: oklch(var(--s));
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: oklch(var(--n));
    border-radius: 14px;
    border: 1px solid;
    border-color: oklch(var(--b)) 
  }

  .drawer-button{
    @apply btn btn-circle btn-outline;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

</style>
